@{
    ViewBag.Title = "The Town and Communities of Aiea";
    ViewBag.Date = DateTime.Now.ToLongDateString();
}

<div class="jumbotron">
    <h2>The Town and Communities of Aiea</h2>
    <p>@ViewBag.Date</p>
    <p>(this text is in the Views/Home/Index.cshtml)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>History of Aiea</h2>
        <p>(text to be added)</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>(text to be added)</p>
    </div>
    <div class="col-md-4">
        <h2>Map</h2>
        <p>(text to be added)</p>
    </div>
</div>