
@{
    ViewBag.Title = "Map of Aiea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Map</h2>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae massa eget dui interdum convallis.
        Cras venenatis iaculis semper. Vestibulum semper, nisl vitae vulputate ultricies, dui turpis lobortis
        justo, eget semper ante nisl a augue. Vestibulum in nisi et ipsum varius consequat. Phasellus sit amet
        eros elit. Suspendisse mi ante, consectetur vel tellus in, ornare laoreet dui. Fusce pretium est in
        suscipit dapibus. Proin tempor rhoncus dui sed tincidunt. In hac habitasse platea dictumst.
        Sed suscipit iaculis lectus, nec ultrices massa. Nam sollicitudin commodo venenatis. Mauris dapibus elit
        nec libero aliquet, nec suscipit mauris pulvinar.
    </p>
    <p>
        Aliquam pharetra est metus, non semper augue eleifend iaculis. Fusce varius a lorem sollicitudin hendrerit.
        Nam dignissim at quam et vehicula. Ut ultricies in ipsum non dapibus. Praesent lobortis urna vel placerat
        auctor. Donec quis justo erat. Suspendisse euismod, ipsum et suscipit euismod, arcu eros ultrices enim,
        non pretium orci purus vel nulla. Sed lobortis in massa nec posuere. Suspendisse potenti. Aliquam vel leo
        ultrices, sagittis magna at, tincidunt nibh. Praesent ac orci scelerisque, placerat lorem non, luctus lacus.
    </p>
</div>